<div fxLayout="column" style="height: 100%; ">
    <div fxLayoutAlign="start center" style="padding-left: 20px; background-color: white; width: 100%; height: 60px; border-bottom: solid 1px #bcd8e0">
        <mat-label style="font-size: 20px">Dynamic Search</mat-label>
    </div>
    <div fxLayoutAlign="center" style="padding-top: 40px; width: 100%; height: 100%;" >

        <div fxLayout="column" style="width: 1024px; height: 100%; ">
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="text-align: left; font-size: 16px; width: 100%" mat-button target="_blank">Quotations</a>
            </div>
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="font-size: 16px" mat-button target="_blank">Service Contracts</a>
            </div>
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="font-size: 16px" mat-button target="_blank">Bookings</a>
            </div>
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="font-size: 16px" mat-button target="_blank">Shipping Instructions</a>
            </div>
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="font-size: 16px" mat-button target="_blank">Freight Invoices</a>
            </div>
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="font-size: 16px" mat-button target="_blank">Credit Notes</a>
            </div>
            <div style="width: 100%; padding-top: 6px" fxLayoutAlign="start center" fxLayoutGap="10px">
                <a style="font-size: 16px" mat-button target="_blank">Disbursement Accounts</a>
            </div>
        </div>
    </div>
</div>
