$md-dal-primary: (
  50 : #e6eaf3,
  100 : #c1cae0,
  200 : #98a6cb,
  300 : #6f82b6,
  400 : #5068a7,
  500 : #314d97,
  600 : #2c468f,
  700 : #253d84,
  800 : #1f347a,
  900 : #132569,
  A100 : #a0b0ff,
  A200 : #6d86ff,
  A400 : #3a5cff,
  A700 : #2047ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-dal-accent: (
  50 : #f0f0f0,
  100 : #d9d9d9,
  150 : #808080,
  200 : #c0c0c0,
  300 : #a6a6a6,
  400 : #939393,
  500 : #808080,
  600 : #787878,
  700 : #6d6d6d,
  800 : #636363,
  900 : #505050,
  A100 : #f8c0c0,
  A200 : #f39292,
  A400 : #ff5353,
  A700 : #ff3a3a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-dal-warn: (
  50 : #fbeded,
  100 : #f6d1d1,
  200 : #f0b3b3,
  300 : orange,
  400 : #e57d7d,
  500 : #e06666,
  600 : #dc5e5e,
  700 : #d85353,
  800 : #d34949,
  900 : #cb3838,
  A100 : #ffffff,
  A200 : #ffe2e2,
  A400 : #ffafaf,
  A700 : #ff9696,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
