$md-eimskip-primary: (
      50 : #e4ebf5,
      100 : #bacce5,
      200 : #8dabd4,
      300 : #5f89c2,
      400 : #3c6fb5,
      500 : #1a56a8,
      600 : #174fa0,
      700 : #134597,
      800 : #0f3c8d,
      900 : #082b7d,
      A100 : #acc0ff,
      A200 : #799aff,
      A400 : #4674ff,
      A700 : #2c61ff,
      contrast: (
              50 : #000000,
              100 : #000000,
              200 : #000000,
              300 : #000000,
              400 : #ffffff,
              500 : #ffffff,
              600 : #ffffff,
              700 : #ffffff,
              800 : #ffffff,
              900 : #ffffff,
              A100 : #000000,
              A200 : #000000,
              A400 : #ffffff,
              A700 : #ffffff,
      )
);

$md-eimskip-accent: (
        50 : #f0f0f0,
        100 : #d9d9d9,
        150 : #808080,
        200 : #c0c0c0,
        300 : #a6a6a6,
        400 : #939393,
        500 : #808080,
        600 : #787878,
        700 : #6d6d6d,
        800 : #636363,
        900 : #505050,
        A100 : #f8c0c0,
        A200 : #f39292,
        A400 : #ff5353,
        A700 : #ff3a3a,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #ffffff,
        )
);

$md-eimskip-warn: (
  50 : #fbeded,
  100 : #f6d1d1,
  200 : #f0b3b3,
  300 : #e99494,
  400 : #e57d7d,
  500 : #e06666,
  600 : #dc5e5e,
  700 : #d85353,
  800 : #d34949,
  900 : #cb3838,
  A100 : #ffffff,
  A200 : #ffe2e2,
  A400 : #ffafaf,
  A700 : #ff9696,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
